<!DOCTYPE html>
<html>
  <head>
    <title>jQCloud Example</title>    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>            

    <!-- jQcloud 불러오기 -->
    <script src="https://golangkorea.github.io/js/jqcloud/jqcloud.min.js"></script>
    <link rel="stylesheet" href="https://golangkorea.github.io/js/jqcloud/jqcloud.min.css">    
    <script src="https://golangkorea.github.io/js/jqcloud/jqcloud.min.js"></script>
    <script src="{{url_for('static', filename='js/jQcloud.js')}}"></script>    

  </head>
  <body>
    <h1>jQCloud Example</h1>
    <div id="my_favorite_latin_words" style="width: 550px; height: 350px; border: 1px solid #ccc;"></div>
  </body>
</html>