<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViSearch</title>                 

  </head>
  <body>
    <h1>ViSearch</h1>

    <form action="/search/">
        <p>
            <input id="input" type="search" name="search" autocomplete="off">        

        <p>
            <input id="input" type="number" placeholder="1" name="news">
        </p>

        <p>
            <input type="number" placeholder="1" name="Data_Collection">
        </p>
        <input type="submit">
        
    </form>

    
  </body>
</html>