<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViSearch</title>                 

  </head>
  <body>
    <h1>ViSearch</h1>

    <form action="/search/">
        <p>
            검색어 입력 : 
            <input id="input" type="search" name="search" autocomplete="off">        

        <p>            
            <input type="number" name="news"> 
            <br>
            전체글 창에서 검색 = 0, 뉴스 창에서 검색 = 1
        </p>

        <p>
            <input type="number" name="Data_Collection">
            <br>
            데이터 크롤링량 : 적게 = 1, 보통 = 2, 많이 = 3
        </p>
        <input type="submit">
        
    </form>

    
  </body>
</html>