<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViSearch</title>                 

    <!-- jQcloud 불러오기 -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>   
    <script src="https://golangkorea.github.io/js/jqcloud/jqcloud.min.js"></script>
    <link rel="stylesheet" href="https://golangkorea.github.io/js/jqcloud/jqcloud.min.css">        
    
    <script>
        var word = [
      {text: "{{word_list[0]}}", weight: 13},
      {text: "{{word_list[1]}}", weight: 10.5},
      {text: "{{word_list[2]}}", weight: 9.4},
      {text: "{{word_list[3]}}", weight: 8},
      {text: "{{word_list[4]}}", weight: 6.2},
      {text: "{{word_list[5]}}", weight: 5},
      {text: "{{word_list[6]}}", weight: 5},
      {text: "{{word_list[7]}}", weight: 5},
      {text: "{{word_list[8]}}", weight: 5},
      {text: "{{word_list[9]}}", weight: 4},
      {text: "{{word_list[10]}}", weight: 4},
      {text: "{{word_list[11]}}", weight: 3},
      {text: "{{word_list[12]}}", weight: 3},
      {text: "{{word_list[13]}}", weight: 3},
      {text: "{{word_list[14]}}", weight: 3},
      {text: "{{word_list[15]}}", weight: 3},
      {text: "{{word_list[16]}}", weight: 3},
      {text: "{{word_list[17]}}", weight: 3},
      {text: "{{word_list[18]}}", weight: 2},
      {text: "{{word_list[19]}}", weight: 2},        
      {text: "{{word_list[20]}}", weight: 2},
      {text: "{{word_list[21]}}", weight: 2},
      {text: "{{word_list[22]}}", weight: 2},
      {text: "{{word_list[23]}}", weight: 2},
      {text: "{{word_list[24]}}", weight: 2},
      {text: "{{word_list[25]}}", weight: 2},
      {text: "{{word_list[26]}}", weight: 2},
      {text: "{{word_list[27]}}", weight: 2},
      {text: "{{word_list[28]}}", weight: 1},
      {text: "{{word_list[29]}}", weight: 1},
      {text: "{{word_list[30]}}", weight: 1},
      {text: "{{word_list[31]}}", weight: 1},
      {text: "{{word_list[32]}}", weight: 1},
      {text: "{{word_list[33]}}", weight: 1},
      {text: "{{word_list[34]}}", weight: 1},
      {text: "{{word_list[35]}}", weight: 1},
      {text: "{{word_list[36]}}", weight: 1},
      {text: "{{word_list[37]}}", weight: 1},
      {text: "{{word_list[38]}}", weight: 1},
      {text: "{{word_list[39]}}", weight: 1},
      {text: "{{word_list[40]}}", weight: 1},
      {text: "{{word_list[41]}}", weight: 1},
      {text: "{{word_list[42]}}", weight: 1},
      {text: "{{word_list[43]}}", weight: 1},
      {text: "{{word_list[44]}}", weight: 1},
      {text: "{{word_list[45]}}", weight: 1},
      {text: "{{word_list[46]}}", weight: 1},
      {text: "{{word_list[47]}}", weight: 1},
      {text: "{{word_list[48]}}", weight: 1},
      {text: "{{word_list[49]}}", weight: 1},
      {text: "{{word_list[50]}}", weight: 1},
      {text: "{{word_list[51]}}", weight: 1},
      {text: "{{word_list[52]}}", weight: 1},
      {text: "{{word_list[53]}}", weight: 1},
      {text: "{{word_list[54]}}", weight: 1},
      {text: "{{word_list[55]}}", weight: 1},
      {text: "{{word_list[56]}}", weight: 1},
      {text: "{{word_list[57]}}", weight: 1},
      {text: "{{word_list[58]}}", weight: 1},
      {text: "{{word_list[59]}}", weight: 1}
      ]; 
    </script>    

    <script>


      $(function() {
        $("#word").jQCloud(word);
      });
    </script>      
    <!-- jQcloud 불러오기 -->        
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/wordcloud.css')}}"> -->

  </head>
  <body>
    <h1>ViSearch</h1>
    <div id="word" class='stop-dragging' style="width: 550px; height: 350px; border: 1px solid #ccc;"></div>
    

    
  </body>
</html>